/**
* @Author: Julien SOBRITZ
* @Date:   2016-11-17T09:09:25+01:00
* @Email:  julien.s@codeur.online
* @Filename: test.css
* @Last modified by:   Julien SOBRITZ
* @Last modified time: 2016-11-18T10:46:10+01:00
*/

body {
    background-image: url(../image/fond.png);
    background-attachment: fixed;
    text-align: center;
    color: #f9d6a4;
    font-size: 1.2em;
}

h1, h2, h3 {
    color: white;
    text-align: center;
    font-family: courier;
    text-shadow: 5px 1px 2px black, 0 0 99px green, 0 0 5px darkblue;
}

{
    margin: 0;
}

ul {
  float: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    background-color: #f1f1f1;
    position: sticky;
    height: 200%;
    overflow: auto;
}

li a {
  float: left;
    display: block;
    color: #30342F;
    padding: 8px 16px;
    text-decoration: inherit;
}

li a:hover:not(.active) {
  float: left;
    background-color: #555;
    color: white;
    width: 15%;
}

li a[href="#"] {
  float: left;
    background-color: #58AB3A;
    width: auto;
    color: white;
}

nav ul li[id] {
  float: left;
    background-color: #78C555;
    color: white;
    width: 15%;
}

#table
{
 text-align: center;
}

#actu
{
  text-align: center;
  color: #004d99;
  font-size: 1.2em;
}
footer
{
  background-image: url(../image/footer.png);
}

#container {
}

#nav, #nav ul {
   padding: 0;
   margin: 0;
   list-style: none;
}

#nav a {
   display: block;
   width: 10em;
}

#nav li {
   /*float: left;*/
   width: auto;
}

#nav li ul {
  width: auto;
}

#nav li:hover ul {
   left: auto;
}

#nav li:hover ul, #nav li.sfhover ul {
   left: auto;
}

li ul {
  display: none;
}
