body {
    background-image: url(../image/background.jpg);
    background-attachment: fixed;
    text-align: center;
    color: #f9d6a4;
    font-size: 1.2em;
     }

h1, h2, h3 {
    color: white;
    text-align: center;
    font-family: courier;
    text-shadow: 5px 1px 2px black, 0 0 99px green, 0 0 5px darkblue;
}

{
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    background-color: #f1f1f1;
    position: sticky;
    height: 200%;
    overflow: auto;
}

li a {
    display: block;
    color: #30342F;
    padding: 8px 16px;
    text-decoration: inherit;
}

li a.active {
    background-color: #58AB3A;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

#table {
 text-align: center;
}

#actu {
  text-align: center;
  color: #004d99;
  font-size: 1.2em;
}
footer {
  background-image: url(../image/footer.jpg);
}

#vid {
    color: black;
 }

 .exemple {
   background-image: url(../image/background.jpg);
   width: auto;
   height: auto;
 }
select[class="exemple"] {
  background-color: white;
}

p[class="code"] {
  text-align: left;
  margin-left: 30%;
}

table[class="code"] {
  margin-left: 50%;
}
